<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <section class="contenedor">
            <img class="logo" src="img/logo.jpg" alt="Logo de White Personalizados">
        </section>

        <h1>Contacto</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/sobre">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>

            <h2>Proceso de Pedido</h2>
            <p>1. Consulta Inicial: Contáctanos para discutir tus ideas y necesidades.</p>
            <p>2. Diseño y Aprobación: Nuestro equipo te enviará un diseño preliminar para tu aprobación.</p>
            <p>3. Producción: Una vez aprobado, comenzamos el proceso de sublimación.</p>
            <p>4. Entrega: Recibe tus productos de alta calidad en la fecha acordada.</p>

            <h2>¿Tienes alguna pregunta o necesitas ayuda para diseñar tu producto?</h2>
            <p>No dudes en contactarnos. Nuestro equipo está aquí para ayudarte en cada paso del proceso.</p>
            
            <form class="contact-form" id="contactForm">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input class="form-control-input" type="text" id="name" placeholder="ingresa tu nombre" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control-input" type="email" id="email" placeholder="ingresa tu email" required>
                </div>
                <div class="form-group message">
                    <label for="message">Mensaje:</label>
                    <textarea placeholder="escribe tu consulta" rows="5" class="form-control-input" id="message" name="message" required></textarea>
                </div>
                <button class="btn" type="submit">Enviar</button>
            </form>

            <p>También puedes seguirnos en nuestras redes sociales para inspirarte y ver nuestros últimos trabajos.</p>
            <a target="_blank" href="https://www.instagram.com/whitepersonalizados?igsh=MWt6YnNiYmowYWs0cg%3D%3D&utm_source=qr">
                <img class="logo34" src="img/ing.jfif" alt="Instagram de White Personalizados">
            </a> 
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Proyecto TT</p>
    </footer>
    <script src="/script/script.js"></script>
</body>
</html>

