<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/css/estilos.css">
            <title>Mug</title>
        </head>
        <body>
            <header>
                <section class="contenedor">
                    <img class="logo" src="img/logo.jpg" alt="">
                    
                </section>
    
                <h1>Mug</h1>
                <nav>
                    <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/sobre">Sobre Nosotros</a></li>
                    </ul>
                </nav>
            </header>

            <img class="logo4" src="img/Mug1.jpg" alt="casa">
            <img class="logo4" src="img/Mug1.jpg" alt="casa">
            <img class="logo4" src="img/Mug3.jpg" alt="casa">
            <img class="logo4" src="img/Mug4.jpg" alt="casa">
            <img class="logo4" src="img/Mug5.jpg" alt="casa">



            <footer>
                <p>&copy; 2024 Proyecto TT</p>
            </footer>
            <script src="/script/script.js"></script>
        </body>
    </html>
