<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <title>Mug</title>
</head>
<body>
    <header>
        <section class="contenedor">
            <img class="logo" src="img/logo.jpg" alt="Logo de Mug">
        </section>
        <h1>Mug</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/sobre">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="galeria">
            <img class="logo44" src="img/Mug1.jpg" alt="Mug 1" onclick="openModal(this.src)">
            <img class="logo44" src="img/Mug2.jpg" alt="Mug 2" onclick="openModal(this.src)">
            <img class="logo44" src="img/Mug3.jpg" alt="Mug 3" onclick="openModal(this.src)">
            <img class="logo44" src="img/Mug4.jpg" alt="Mug 4" onclick="openModal(this.src)">
            <img class="logo44" src="img/Mug5.jpg" alt="Mug 5" onclick="openModal(this.src)">
        </div>
        <div id="modal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage">
            <a class="prev" onclick="changeImage(-1)">&#10094;</a>
            <a class="next" onclick="changeImage(1)">&#10095;</a>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 Proyecto TT</p>
    </footer>
    <script src="/script/script.js"></script>
</body>
</html>

