<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <title>Sobre Nosotros</title>
</head>
<body>
    <header>
      <section class="contenedor"></section>
        <img class="logo" src="img/logo.jpg" alt="">
      </section>
        <h1>Sobre Nosotros</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/sobre">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <main>
        <h1>Nuestros Servicios</h1>
        <h2>1. Sublimación Textil</h2>
        <ul>
            <li>Camisetas Personalizadas: Diseños únicos para uso personal, eventos o marcas.</li>
            <li>Ropa Deportiva: Equipos personalizados con los colores y logos de tu elección.</li>
            <li>Accesorios: Bufandas, gorras y más, todos con tus diseños favoritos.</li>
        </ul>
        <h2>2. Artículos Promocionales</h2>
        <ul>
            <li>Tazas Sublimadas: Perfectas para regalar o promocionar tu marca.</li>
            <li>Bolsas y Mochilas: Ideal para eventos y publicidad, personalizadas a tu gusto.</li>
            <li>Funda para Móviles: Dale a tu teléfono un toque personal.</li>
        </ul>

        <h2>3. Decoración de Interiores</h2>    
        <ul>
            <li>Lonas y Banderas: Personaliza tu espacio con calidad.</li>
            <li>Cuadros y Pósteres: Imágenes que reflejan tu estilo y personalidad.</li>
            <li>Cojines y Manteles: Crea ambientes acogedores y a tu medida.</li>
        </ul>
        
    </main>
</div>

<section class="team">
    <div class="contenedor">
      <h1>Nuestro Equipo</h1>

      <div class="team__grid">
        <article class="team__columna">
          <img src="img/persona1.jpg" alt="">

        </article>
        <article class="team__columna">
          <img src="img/persona2.jpg" alt="">

        </article>
        <article class="team__columna">
          <img src="img/persona3.jpg" alt="">

        </article>
        <article class="team__columna">
          <img src="img/persona4.jpg" alt="">

        </article>

      </div>
      <p>Contamos con un talento comprometido y emprendedor. Promovemos un entorno de trabajo basado en la 
        igualdad de oportunidades, la diversidad y la inclusión, e impulsamos formas de trabajo que faciliten 
        el equilibrio entre la vida personal y la profesional.</p>

    </div>

  </section>



    <footer>
        <p>&copy; 2024 Proyecto TT</p>
    </footer>
   
</body>
</html>
