body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;

}

nav ul li {
  display: inline;
  margin: 0 15px;
}
.listas{
  list-style-type: none;
}
main {
  padding: 20px;
 max-width: 1200px;
}


article{
  padding: 10px;
  text-align: center;
  width: 100%;

}
h2{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}


#articulo-1 {
  margin: 10px;
  padding: 10px;
  background: #b6ebb3;
  color: black;
  border-radius: 50px 1px 50px 1px;
  border: mediumblue 5px solid;
  width: 100%;
}

#articulo-2 {
  margin: 10px;
  padding: 10px;
  background: #b6ebb3;
  color: black;
  width: 100%;
  border-radius: 50px 1px 50px 1px;
  border: mediumblue 5px solid;
}

#articulo-3 {
  margin: 10px;
  padding: 10px;
  background: #b6ebb3;
  color: black;
  width: 100%;
  border-radius: 50px 1px 50px 1px;
  border: mediumblue 5px solid;
}

.team  h1{
  font-size: 40px;
text-align: center;
}
.team{
  background: #f6f6f6;
  padding: 30px;
}
.team__columna img{
border-radius: 50%;
}
.team p{
  text-align: justify;
}
.team__grid{
  display: grid;
  grid-gap:30px;
}


/* Responsive */
@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }
}
/* formulario */
.contact-form{
  margin-bottom: 18px;
  margin-top: 18px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
}
.form-group.message{
  display: flex;
  flex-direction: column;  
}

.form-control-imput{
  width: 100%;
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn{
  width: 70%; 
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #ddd;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}