body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: fuchsia;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap; 
}

.logo {
  width: 7%;
  border-radius: 25%;
}


nav ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  color: white;
}

.listas {
  list-style-type: none;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; 
}

article {
  padding: 10px;
  text-align: left; 
  width: 100%;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#articulo-1, #articulo-2, #articulo-3 {
  margin: 10px;
  padding: 10px;
  background: aqua;
  color: black;
  border-radius: 50px 1px 50px 1px;
  border: mediumblue 5px solid;
  width: calc(30% - 20px); 
  display: inline-block; 
  text-align: justify;
}

.logo1, .logo2, .logo3 {
  width: 30%;
  border-radius: 50%;
}

.logo4{
  width: 10%;
  border-radius: 50%;
}

.team h1 {
  font-size: 40px;
  text-align: center;
}

.team {
  background: #f6f6f6;
  padding: 30px;
}

.team__columna {
  flex: 1 1 calc(20% - 20px); 
  margin: 10px; 
}

.team__columna img {
  max-width: 100%; 
  border-radius: 50%;
}

.team__grid {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.team p {
  text-align: justify;
}



/* Responsive */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  #articulo-1, #articulo-2, #articulo-3 {
    width: calc(100% - 20px); 
  }

  .logo1, .logo2, .logo3 {
    width: 20%; 
  }
}

/* formulario */
.contact-form {
  margin-bottom: 18px;
  margin-top: 18px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
}

.form-group.message {
  display: flex;
  flex-direction: column;
}

.form-control-imput {
  width: 100%;
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 70%;
  background-color: aqua;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: fuchsia;
  text-align: center;
  color: white;
  padding: 10px 0;
  position: relative; 
  width: 100%;
  bottom: 0;
}
